


.myposte-content-appointment-management fieldset legend,
.content-appointment-management fieldset legend {
    display: none;
}

.myposte-content-appointment-management fieldset,
.content-appointment-management fieldset {
    border: none;
}

fieldset {
    margin: 0;
}

fieldset:last-child {
    margin: 0;
    padding: 0;
}

.panel-title {
    font-size: 1rem;
}

div.panel-default a.accordion-toggle {
    background-image: url(/risorse_dt/applicazioni/gestore-appuntamento/immagini/accordion-off.png);
    background-repeat: no-repeat;
    background-position: right 13px;
}

div.panel-open a.accordion-toggle {
    background-image: url(/risorse_dt/applicazioni/gestore-appuntamento/immagini/accordion-on.png);
    background-repeat: no-repeat;
    background-position: right 13px;
}


/* gestione pagina MAPPA */

.maps {
    background-color: #ebebeb;
    padding: 200px 0;
    margin: 20px 0 0 0;
}

.content-office-details {
    margin: 0 0 15px 0;
    font-size: 16px;
}

ul.switch-list {
    list-style: none;
    margin: 0 0 0 0;
    padding: 10px 0;
    float: right;
    clear: both;
}

ul.switch-list li {
    list-style: none;
    width: 20px;
    height: 20px;
}

ul.switch-list li.type-a {
    display: block;
    float: left;
}

ul.switch-list li.type-b {
    display: block;
    float: right;
    margin-left: 20px;
}

ul.switch-list li.type-a a {
    background-image: url(/risorse_dt/applicazioni/gestore-appuntamento/immagini/list-single.png);
    width: 20px;
    height: 20px;
    display: block;
}

ul.switch-list li.type-b a {
    background-image: url(/risorse_dt/applicazioni/gestore-appuntamento/immagini/list-multiple.png);
    width: 20px;
    height: 20px;
    display: block;
}

.list-office .counter,
.card .counter {
    background-color: #ececec;
    border-radius: 30px;
    color: #787878;
    display: inline-block;
    margin-top: 7px;
    font-size: 0.8rem;
    padding: 5px 10px;
}

.card {
    padding: 30px;
    background-color: #fbfbfb;
    border: 1px solid #efefef;
}

.card .counter {
    margin-top: 0;
}

.change-office {
    font-size: 18px;
}

list-appointment .panel-title {
    font-size: 1rem;
}


/* gestione pagina LISTA APPUNTAMENTI */

span.office-name {
    font-size: 22px;
}

span.office-name span {
    font-size: 18px;
}

span.office-details {
    font-size: 18px;
}

.list-appointment .panel-default > .panel-heading {
    background-color: #fff;
    padding: 20px 0;
}
.list-appointment .panel-default > .panel-heading:hover {
    /*background-color:#ddd;*/
}

.list-appointment .hideArrowAccordion a.accordion-toggle {
    background: none;
}


.list-appointment #accordion {
    border-top: 2px solid #ebebeb;
    margin: 20px 0;
}

.list-appointment .panel-default {
    border-top: 0;
    border-bottom: 2px solid #ebebeb;
    border-left: 0;
    border-right: 0;
}

.list-appointment .panel-body {
    padding: 0;
}

.list-appointment .panel-group .panel + .panel {
    margin: 0;
}


.list-appointment .office-code {
    border-left: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
}

.list-appointment .office {
    border-right: 2px solid #ebebeb;
}

.list-appointment .panel-default h4.panel-title a {
    display: block;
    float: left;
    width: 100%;
}

.list-appointment .content-tiket-details {
    display: block;
    float: left;
    width: 100%;
}

.list-appointment .content-tiket-details span {
    font-weight: bold;
}

.list-appointment .content-tiket-details span span.result {
    font-weight: normal !important;
    margin: 7px 0 0 0;
}

.list-appointment .content-tiket-details span.status span.result {
    color: #00ae4d;
    margin: 7px 0 0 0;
}

.list-appointment .panel-body {
    padding: 0;
}

.list-appointment .panel-body {
    padding: 0 15px;
}

.list-appointment h5,
.memo-user h5 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.list-appointment ul {
    margin: 10px 0;
    padding: 0;
}

ul.list-appoint {
    margin: 0 0 25px 0 !important;
    padding: 0 !important;
}

ul.list-appoint li {
    list-style: none !important;
    background-image: url(/risorse_dt/condivise/immagini/generiche/list-check.png);
    background-repeat: no-repeat !important;
    background-position: 0px 6px !important;
    padding-left: 20px;
}

ul.list-appoint li[dir*="<b>"] {
    background-image: none;
    margin: 20px 0px 10px 5px;
    padding-left: 0;
}


/* xs */

@media (max-width: 767px) {
    .list-appointment .office-code,
    .list-appointment .office {
        border: 0;
    }
    .list-appointment .radio {
        text-align: center
    }
    .counter {
        background-color: #fff;
        border-radius: 0;
        color: inherit;
        padding: 0;
    }
}



fieldset{
	display : block;
}

.dropdown-menu 
{ 
    min-width:290px;
}

.dropdown-menu-right 
{
	margin-right:75px !important; 
    min-width:250px;
}


.dropdown-menu-upper
{
	width:100% !important;
    margin-top: 0px !important;
}

.cursor-pointer
{
  cursor:pointer   
}

/*Spinner New APPU */

.spinner-html5 {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
// FINE  AB x WIREFRAME   


.fake-drop-down{
	margin-top: 0px !important;
}

.fake-drop-down-fasce{
	width:100% !important;
}


.btn-inside{
	border: none !important;
	background-color: inherit !important;
	border-bottom: 1px solid #d0d0d0 !important;
	border-radius :0 !important;
	line-height: 33px !important;
	/*padding-bottom: 0 !important;
	padding-top: 0 !important;*/
}

.btn-inside[disabled], .btn-inside[readonly]
{
    border-bottom: 1px dashed #bbb !important;
    font-style: italic !important;
}

.txtAlign{
	text-align: left !important;
}

#accordion h4{
	clear: both;
	height: auto;
}
.customSpinner {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	cursor: not-allowed;
	filter: alpha(opacity=10);
	/*opacity: 0.1;
	background-color: #000000;*/
	z-index:9998;
}


