


.federation-bar-content-logo .back {
  display: none;
}
.profile-image-change-text {
    background: rgba(0,0,0,.5);
    bottom: 0;
    color: #fff;
    display: none;
    height: 30px;
    line-height: 30px;
    right: 0;
    width: 100%;
    z-index: 3;
}
.row.content-user-data-edit {
	margin-bottom:10px;
}

.sortable-item, .ui-draggable-handle {
	cursor:move;
}

.sortable-item.non-sortable {
	cursor:default;
}

.profile-image-change-text {
    left: 0;
    position: absolute;
    text-align: center;
    font-weight: 700;
}

.avatar:hover .profile-image-change-text {
    display: block;
    text-decoration: underline;
}
.ng-pristine .ng-invalid-required {
    box-shadow: none;
}
.glyphicon-print{
    margin-left:5px;
}

.box-error li > ul{
	margin-left:3px;
	display: inline-block;
	list-style: none;
}

.box-error .box-heading ul{
	margin-left:3px;
	display: inline;
	list-style: none;
}

.box-error li > ul li,
.box-error .box-heading ul li{
	display: inline;
}

.box-error li > ul li:after,
.box-error .box-heading ul li:after{
    content: "";
}
.box-error li > ul li:last-child:after,
.box-error .box-heading ul li:last-child:after
 {
    content: "";
}
.table>thead>tr>th {
    vertical-align: top;
}
.panel-cards{
	margin-bottom:20px;
}
#searchTable th {
	cursor: pointer;
	vertical-align: text-bottom;
}
body{
	height: auto!important;
  overflow: visible!important;
}
.panel-cards-basic{
    max-height: 222px;
}
#campo-ricerca::-ms-clear {
  display: none;
}

div.myservices-tools a, div.other a{
	background-position: right center !important;
}

.black {
	color:inherit;
}

fieldset.gestione-password {
	padding: 0px 0px 35px;
    margin-bottom: 55px;
}

.row.enter-password .form-group{
	margin-bottom: 25px;
}

#accessibility-anchor .container{
	width: auto;
    padding: 0;
}

#accessibility-anchor .container > div.row > div.col-md-12:first-child{
	margin-bottom: 30px;
}

#accessibility-anchor .container h2 {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #d0d0d0;
    text-transform: uppercase;
    color: #787878;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

#accessibility-anchor .container h2.text-xs-center{
	text-align: left!important;
}

.profile-icon{
	margin-right: 5px;
}

.btn-cta-filtra, .btn-cta-filtra:active {
	background-image: url(/myposte-app/img/ico-funnel.png);
    background-color: #eedc00;
    border: 1px solid #eedc00;
}

.msg-board-date {
	min-width:100px;
}

.counter-nuovo {
	padding: 2px 10px!important;
	border-radius: 30px!important;
	position: absolute;
    margin-left: -20px;
    margin-top: -20px;
}

a[aria-expanded=true] .collapse-poste-up {
    display: none;
}
a[aria-expanded=false] .collapse-poste-down {
    display: none;
}

@media (max-width: 991px) and (min-width: 768px) {
	.counter-nuovo {
	    margin-left: -20px;
    	margin-top: -15px;
	}
}

@media (max-width: 767px) {
	.counter-nuovo {
	    margin-left: -10px;
    	margin-top: -10px;
	}
}

.datepicker .year.old {
    color: black
}
   
.datepicker .year.disabled {
    color: #999
}

.datepicker .year.active {
color: black
}

.datepicker .month.disabled {
color: #999
}

.datepicker .month.active {
color: #999
}


/* valore 5% */

.content-progress-bar-myposte-5 .progress-right .progress-bar {
    animation: loading-8 1.8s linear forwards;
}


.content-progress-bar-myposte-5.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}


/* valore 10% */

.content-progress-bar-myposte-10 .progress-right .progress-bar {
    animation: loading-4 1.8s linear forwards;
}

.content-progress-bar-myposte-10.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}




/* valore 20% */

.content-progress-bar-myposte-20 .progress-right .progress-bar {
    animation: loading-9 1.8s linear forwards;
}


.content-progress-bar-myposte-20.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}

/* valore 30% */

.content-progress-bar-myposte-30 .progress-right .progress-bar {
    animation: loading-10 1.8s linear forwards;
}


.content-progress-bar-myposte-30.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}


/* valore 35% */

.content-progress-bar-myposte-35 .progress-right .progress-bar {
    animation: loading-6 1.8s linear forwards;
}


.content-progress-bar-myposte-35.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}




/* valore 40% */

.content-progress-bar-myposte-40 .progress-right .progress-bar {
    animation: loading-2 1.8s linear forwards;
}

.content-progress-bar-myposte-40.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}



/* valore 45% */

.content-progress-bar-myposte-45 .progress-right .progress-bar {
    animation: loading-7 1.8s linear forwards;
}


.content-progress-bar-myposte-45.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}


/* valore 55% */

.content-progress-bar-myposte-55 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}


.content-progress-bar-myposte-55.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-8 1.5s linear forwards 1.8s;
}



/* valore 60% */

.content-progress-bar-myposte-60 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}

.content-progress-bar-myposte-60.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.8s;
}




/* valore 70% */

.content-progress-bar-myposte-70 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}


.content-progress-bar-myposte-70.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-9 1.5s linear forwards 1.8s;
}

/* valore 80% */

.content-progress-bar-myposte-80 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}


.content-progress-bar-myposte-80.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-10 1.5s linear forwards 1.8s;
}


/* valore 85% */

.content-progress-bar-myposte-85 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}


.content-progress-bar-myposte-85.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-6 1.5s linear forwards 1.8s;
}


/* valore 90% */

.content-progress-bar-myposte-90 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}

.content-progress-bar-myposte-90.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}


/* valore 95% */

.content-progress-bar-myposte-95 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}


.content-progress-bar-myposte-95.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-7 1.5s linear forwards 1.8s;
}



@keyframes loading-9 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}


@keyframes loading-10 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}

/*

@keyframes loading-11 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(deg);
        transform: rotate(108deg);
    }
}

*/

@keyframes loading-8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
    }
}

@keyframes loading-7 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(162deg);
        transform: rotate(162deg);
    }
}



@keyframes loading-6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

