/**************************************************************

    Foglio stile My Poste - (c) Poste Italiane 2016/2017/2018 - GD//FS//DU

***************************************************************/


/***************************/


/******* Generici  *******/


/***************************/

.content-myposte {
    padding: 0;
}

.myposte-header .main-pills-wrap {
    padding-bottom: 0;
}

.myposte-header .main-pills {
    margin-bottom: 30px;
}

.myposte-header .welcome {
    margin-bottom: 40px;
}

.myposte-header .welcome .abstract h1 {
    margin: 0px 0px 10px 0px;
    font-size: 40px;
    letter-spacing: 0;
}

.myposte-header .welcome .abstract h1 span {
    display: block;
    font-size: 55px;
    font-weight: 600;
}

.avatar img {
    width: 124px;
    height: 124px;
    border-radius: 50px;
}

.myposte-header .welcome .abstract {
    margin-bottom: 50px;
}

.myposte-header .welcome .abstract {
    margin-bottom: 20px;
}

.myposte-header .welcome .abstract-heading p {
    color: #787878;
}

.myposte-header .content-pre-main ul#menu {
    margin: 0;
}

.myposte-header .content-pre-main ul#menu li {
    margin-right: 20px;
    text-transform: uppercase;
}

.myposte-header .content-pre-main ul#menu li a {
    border-bottom: 3px solid transparent;
    color: #222427;
    display: block;
    min-height: 45px;
    font-weight: bold;
}

.myposte-header .content-pre-main ul#menu li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #0047bb;
    color: #0047bb;
}

.myposte-header .content-pre-main ul#menu li a.active {
    border-bottom: 3px solid #0047bb;
    color: #0047bb;
}


/***************************/


/******* Modalità Edit  *******/


/***************************/

.edit-status {
    color: #787878;
}

.last {
    margin-bottom: 20px;
}

.myservices-tools a {
    background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue/ico-modifica-blu.png");
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: 16px;
    font-size: 16px;
    padding: 0 25px 0 0;
}

.myservices-tools a.cancels {
    background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue/ico-ics-blu.png");
}


/***************************/


/******* Form  *******/


/***************************/

.myposte-application .main-pills-wrap {
    padding-top: 30px;
}

.main-post-login .segments {
    margin: 0 0 50px 0;
}

.main-post-login fieldset {
    padding: 0;
    margin-bottom: 40px;
}

.main-post-login fieldset .content-user-data {
    margin-bottom: 20px;
    padding: 0 30px 0 30px;
}

.main-post-login .form-group h1,
.main-post-login .form-group h2,
.main-post-login .form-group h3,
.main-post-login .form-group h4,
.main-post-login .form-group h5,
.main-post-login .form-group h6 {
    color: #787878;
}

.main-post-login .form-control-static {
    font-style: italic;
}

.content-user-data-edit {
    border: 1px solid #efefef;
    background-color: #fbfbfb;
    padding-top: 25px !important;
    padding-bottom: 10px !important;
}

.content-user-data-edit .select-wrapper {
    background-color: #fbfbfb;
    color: inherit;
}

.content-user-data .form-group,
.content-user-data .form-inline,
.content-user-data .form-group {
    margin-bottom: 15px;
}

.myservices-tools a {
    font-size: 16px;
}

.title-favorite {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
}

.title-favorite h4 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #787878;
}

.myposte-favorite-to-modifiy fieldset {
    border-color: #efefef;
    padding-bottom: 0;
    margin-bottom: 0
}

.myposte-favorite-to-modifiy fieldset h5,
.myposte-favorite-to-modifiy fieldset h6 {
    color: #787878;
    padding-bottom: 5px;
}

ol.privacy-list {
    padding: 0;
}

ol.privacy-list .box-evidence {
    border: none;
}

.title-border-top {
    border-top: 1px solid #ececec;
}

.myservices-other {
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
}

.myservices-tools {
    padding: 10px 0;
}

.other {
    padding: 7px 0 10px 0;
}

.myservices-other a,
.other a {
    background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue/ico-freccia-blu.png");
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: 16px;
    font-size: 16px;
    padding: 0 25px 0 0;
}


/***************************/


/******* Tabelle Filtrate  *******/


/***************************/

.table-msg-board thead tr th {
    background-color: #fff !important;
    border-top: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
}

.table-msg-board thead tr th .checkbox {
    margin-bottom: auto;
}

.msg-board-abstract {
    font-size: 0.8889rem;
    line-height: 80%;
}

.msg-board-date {
    text-align: center;
    font-size: 16px;
}

.msg-board-date span {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

img.notice-board-order:hover {
    cursor: pointer
}


/***************************/


/******* Bacheca  *******/


/***************************/

.content-myposte-notice-board .select-wrapper,
.content-myposte-notice-board .holder {
    /*max-width: 150px;*/
}

.content-myposte-notice-board-message ul.list-attatchments {
    padding: 0;
    margin: 0;
}

.content-myposte-notice-board-message .list-attatchments li {
    background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on/ico-downloadpay.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px;
    list-style: none;
    padding: 2px 0 8px 35px;
    margin: 0 0 5px;
}

.myposte-notice-board-message-dowload-all {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.show-other a {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 25px 0px 0;
    background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue/ico-piu-blu.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px;
}


/***************************/


/******* Spalla Destra  *******/


/***************************/

.panel-message-boards .panel-wrap-pre {
    background-color: #ececec;
}

.panel-message-boards .panel-heading .panel-heading-subtitle {
    color: #222427;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.panel-message-boards {
    border: 1px solid #ececec;
    margin-bottom: 0;
    position: relative;
    transition: box-shadow 0.5s linear 0s;
}

.panel-message-boards .panel-body {
    padding: 0;
}

.panel-message-boards .panel-body p {
    color: #787878;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.panel-message-boards .panel-body .from {
    margin-bottom: 3px;
    font-weight: 600;
}

.panel-message-boards .panel-body .message-title {
    margin-bottom: 3px;
    font-weight: 600;
    color: #222427;
}

.panel-message-boards .new {
    background-image: url("/risorse_dt/condivise/immagini/icone/ico-pallino-giallo.png");
    background-position: 4% 28%;
    background-repeat: no-repeat;
}

.panel-message-boards .panel-wrap {
    padding: 20px 30px 20px 30px;
}

.title-not-found {
    font-weight: 300 !important;
    color: #0047bb !important;
}


/***************************/


/******* Cockpit (inizio sviluppo 11/11/2021)  *******/


/***************************/

.myposte-profile .panel-cards-cta .panel-link-pos1 .btn-card span,
.myposte-profile .panel-cards-cta .panel-link-abs .btn-card span {
    padding: 4px 34px 4px 20px;
    width: auto;
    background-position: right 13px center;
    text-indent: 0;
}

.myposte-profile .panel-cards-cta .panel-wrap {
    padding-bottom: 70px;
}


/* gestione progress bar */

.content-progress-bar-myposte {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    z-index: 1;
}

.content-progress-bar-myposte:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.content-progress-bar-myposte>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.content-progress-bar-myposte .progress-left {
    left: 0;
}

.content-progress-bar-myposte .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.content-progress-bar-myposte .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.content-progress-bar-myposte .progress-right {
    right: 0;
}

.content-progress-bar-myposte .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.content-progress-bar-myposte .progress-value {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-indent: -9999px;
    font-size: 24px;
    color: #006dd4;
    line-height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
}

.content-progress-bar-myposte .progress-value-myposte-home:hover {
    text-indent: initial;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
    width: 80px;
    height: 80px;
    top: 35px;
    line-height: 63px;
    text-align: center;
    left: 35px;
    font-weight: 600;
}

.content-progress-bar-myposte .progress-value-myposte-home span{
    text-indent: -9999px;
    position: absolute;
}

.content-progress-bar-myposte.content-progress-bar-myposte-blue .progress-bar {
    border-color: #006dd4;
}
/* settaggi progress bar circle */
/* SETTINGS IMMAGINE AVATAR 1X */
        
.progress-value-base {
    background: url("/risorse_dt/applicazioni/myposte/immagini/profilo-base.png") no-repeat center center;
    background-size: calc(100% - 26px);
}
.progress-value-avanzato {
    background: url("/risorse_dt/applicazioni/myposte/immagini/profilo-avanzato.png") no-repeat center center;
    background-size: calc(100% - 26px);
}
.progress-value-completo {
    background: url("/risorse_dt/applicazioni/myposte/immagini/profilo-completo.png") no-repeat center center;
    background-size: calc(100% - 26px);
}
/* SETTINGS ANIMAZIONE */

/* valore 0% */
.content-progress-bar-myposte-0 .progress-right .progress-bar {
    animation: loading-0 1.8s linear forwards;
}

.content-progress-bar-myposte-0.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}

/* valore 15% */
.content-progress-bar-myposte-15 .progress-right .progress-bar {
    animation: loading-5 1.8s linear forwards;
}

.content-progress-bar-myposte-15.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}
/* valore 25% */
.content-progress-bar-myposte-25 .progress-right .progress-bar {
    animation: loading-3 1.8s linear forwards;
}

.content-progress-bar-myposte-25.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}
/* valore 50% */
.content-progress-bar-myposte-50 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}

.content-progress-bar-myposte-50.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-0 1.5s linear forwards 1.8s;
}
/* valore 65% */
.content-progress-bar-myposte-65 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}

.content-progress-bar-myposte-65.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.8s;
}
/* valore 75% */
.content-progress-bar-myposte-75 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}

.content-progress-bar-myposte-75.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.8s;
}
/* valore 100% */
.content-progress-bar-myposte-100 .progress-right .progress-bar {
    animation: loading-1 1.8s linear forwards;
}

.content-progress-bar-myposte-100.content-progress-bar-myposte-blue .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.8s;
}

/* SETTINGS PERCENTUALE */

@keyframes loading-0  {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(54deg);
        transform: rotate(54deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}
/* end settaggi */

/*xs*/

@media (max-width: 767px) {
    .myposte-header .welcome .abstract h1 {
        font-size: 30px
    }
    .myposte-header .welcome .abstract h1 span {
        display: block;
        font-size: 35px;
        font-weight: 600;
    }
    .main-post-login fieldset .content-user-data {
        padding: 0;
    }
    .main-post-login fieldset .content-user-data-edit {
        padding: 10px;
    }
    ol.privacy-list {
        padding: 0 0 0 20px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-01 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on/ico-cruscotto.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 24px;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-01 a {
        text-indent: -9999px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-01 a:hover {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-cruscotto.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-01 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-cruscotto.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-02 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on/ico-bacheca.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 24px;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-02 a {
        text-indent: -9999px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-02 a:hover {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-bacheca.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-02 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-bacheca.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-03 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on/ico-appuntamenti.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 24px;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-03 a {
        text-indent: -9999px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-03 a:hover {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-appuntamenti.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-03 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-appuntamenti.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-04 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on/ico-impostazioni.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 24px;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-04 a {
        text-indent: -9999px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-04 a:hover {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-impostazioni.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-04 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue/ico-impostazioni.png");
        background-repeat: no-repeat;
        background-position: left top;
        width: 25px;
        height: 25px;
    }
    .panel-message-boards .new {
        background-position: 11px 26px;
    }
    table.table-msg-board .msg-board-selection,
    table.table-msg-board .msg-board-sender {
        display: none;
    }
}


/*sm*/

@media (min-width: 768px) and (max-width: 991px) {
    .panel-message-boards .new {
        background-position: 11px 27px;
    }
}


/* High res Display  */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    .myservices-tools a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue-2x/ico-freccia-blu@2x.png");
    }
    .myservices-tools a.cancels {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue-2x/ico-ics-blu@2x.png");
    }
    .myservices-other a,
    .other a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue-2x/ico-freccia-blu@2x.png");
    }
    .content-myposte-notice-board-message .list-attatchments li {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on-2x/ico-downloadpay@2x.png");
    }
    .panel-message-boards .new {
        background-image: url("/risorse_dt/condivise/immagini/icone/ico-pallino-giallo.png");
    }
    .show-other a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-tonde-16-blue-2x/ico-piu-blu@2x.png");
    }
    .panel-cards-edge:not(.panel-cards-news) .panel-link .btn-card span {
        background-image: url("/risorse_dt/condivise/immagini/generiche/ico-arrow-grey-right@2x.png");
    }
    .progress-value-base {
        background-image: url("/risorse_dt/applicazioni/myposte/immagini/profilo-base@2x.png");
    }
    .progress-value-avanzato {
        background-image: url("/risorse_dt/applicazioni/myposte/immagini/profilo-avanzato@2x.png");
    }
    .progress-value-completo {
        background-image: url("/risorse_dt/applicazioni/myposte/immagini/profilo-completo@2x.png");
    }
}


/* High res Display and XS */

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .myposte-header .content-pre-main ul#menu li.li-list-top-01 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on-2x/ico-cruscotto@2x.png");
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-01 a:hover,
    .myposte-header .content-pre-main ul#menu li.li-list-top-01 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue-2x/ico-cruscotto@2x.png");
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-02 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on-2x/ico-bacheca@2x.png");
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-02 a:hover,
    .myposte-header .content-pre-main ul#menu li.li-list-top-02 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue-2x/ico-bacheca@2x.png");
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-03 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on-2x/ico-appuntamenti@2x.png");
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-03 a:hover,
    .myposte-header .content-pre-main ul#menu li.li-list-top-03 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue-2x/ico-appuntamenti@2x.png");
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-04 a {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-on-2x/ico-impostazioni@2x.png");
    }
    .myposte-header .content-pre-main ul#menu li.li-list-top-04 a:hover,
    .myposte-header .content-pre-main ul#menu li.li-list-top-04 a.active {
        background-image: url("/risorse_dt/condivise/immagini/icone/icone-default-blue-2x/ico-impostazioni@2x.png");
    }
}