  /* BigInps Version 1000.00 */

.img_but_chat {
   display:none;
}
.img_but_arr {
  display:none;
}
.hrChatThem {
    margin-top: 10px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
	margin-bottom: 15px !important;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 1px solid #cec5c5;
    height: 1px;
}
.flyout-btn-bottom-right {
    background: #005980;
    border: 2px solid #005980 !important;
    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
    color: #ffffff;
    /* cursor: pointer; */
    display: block;
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 15px;
	font-weight:bold;
    height: 35px;
    margin: 0px auto;
    outline:none;
    padding: 0px 10px;
    position: absolute;
    text-align: left;
    width: 361px;
    z-index: 998;
	left: 0px;
}
.flyout-bottom-right {
    background: none;
    border: 3px solid #005980;
    border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
    bottom: -2px;
    box-shadow: 0px -5px 15px 0px #ffffff;
    color: #000000;
    position: fixed;
    right: 0.5%;
    transition: all 0.3s ease-in-out 0s;
    width: 355px;
    z-index: 9999;
    display:none;
    box-sizing: content-box;
}
.divContainChat {
    display: none;
    float: left;
    margin: 0px 0px 15px;
    width: 100%;
}
.surveyMarker .botDiv {
    text-align: left !important;
}
.ChatUI .botDiv {
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 0px 10px 10px;
	-moz-border-radius: 0px 10px 10px;
	-webkit-border-radius:0px 10px 10px;
    clear: both;
    display: none;
    float: inherit;
    margin: 0px auto;
    padding: 10px 5px 5px 0px;
    text-align: center;
    width: 100%;
}
.ChatUI .buttonLinkSmall:hover {
	background:#005980;
	color: #FFFFFF;
	border-color:#00405c;
	cursor: pointer;
	font-style: normal;
}
.ChatUI .buttonLinkSmall {
    background: #007db3;
    border: none;
	border-bottom: 0px solid #006b9a;
    border-radius: 0px;
    color: #FFFFFF;
    display: block;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin: 1px auto 6px 0px;
    width: 30%;
	font-style: normal;
	font-weight: bold;
}
.ChatUI .buttonLink:focus {
	outline:none
}
.ChatUI .buttonLink:hover {
	background:#005980;
	color: #FFFFFF;
	border-color:#00405c;
	cursor: pointer;
	font-style: normal;
}
.ChatUI .buttonLink {
    background: #007db3;
    border: none;
	border-bottom: 0px solid #006b9a;
    border-radius: 0px;
    color: #FFFFFF;
    display: block;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin: 1px auto 6px 0px;
    width: 95%;
	font-style: normal;
	font-weight: bold;
	word-wrap: break-word;
}
.ChatUI .hyperLink {
    background: #ebebeb;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
    color: #949494;
    cursor: pointer;
    display: block;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serife;
    font-size: 13px;
    line-height: 25px;
    margin: 1px auto 6px;
    text-decoration: none;
    width: 100%;
}
.ChatUI * {
    box-sizing: border-box;
    float: none;
    line-height: normal; 
    margin: 0px;
	font-size:initial;
}
.tablebtn tr {
    border: 0px none !important;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}
.tablebtn td {
    border: 0px none !important;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}
.tablebtn {
    border: 0px none !important;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -30px;
    width: 100%;
	left:-3px;
}
.tablebtn.Tablet .copyClipBoardIcon{
	font-size:20px ;
	right:64px ;
	top:10px ;
}
.tablebtn.Tablet .copyClipBoardIconFa {
	font-size:20px ;
	right:64px ;
	top:10px ;
}
_:default:not(:root:root), .tablebtn.Tablet .copyClipBoardIconFa{
	font-size:20px !important;
	right:62px !important;
	top:11px !important;
}
_:default:not(:root:root), .tablebtn.Tablet .copyClipBoardIcon{
	font-size:20px !important;
	right:62px !important;
	top:11px !important;
}
.tablebtn .copyClipBoardIcon {
    height: 19px;
    right: 50px;
    position: absolute;
	cursor: pointer;
    top: 3px;
    width: 19px;
    z-index: 99999;
}
.ChatUI.popup {
	position:fixed !important;
	height: 100%;
	left:0px;
	top:0px;
}
.ChatUI {
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    display: none;
    height: 435px;
    line-height: normal;
    margin: 0px;
    /* padding: 5px; */
    position: relative;
    width: 100%;
    z-index: 0px;
}
#chat-flyout {
    display: none;
}
.ChatUI .close {
    background: #ffffff;
    border: 0px solid #f3f2ef;
    border-radius: 5px 5px 0px 0px;	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
    box-shadow: 0px -9px 10px -5px #ffffff inset;
    color: #f48133;
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 4px;
    position: absolute;
    right: 12px;
    top: 0px;
	display:none;
}
.buttoncloseWOpen {
    background: #282f32;
    border: 0px solid #282f32;
    border-radius: 6px;		
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
    box-shadow: 0px -9px 10px -5px #282f32 inset;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial;
    font-size: 22px;
    font-weight: normal;
    padding: 0px;
    position: absolute;
    right: 12px;
    top: 15px;
    z-index: 9999;
	height:0px;
}
.buttoncloseWClose {
    background: #282f32;
    border: 0px solid #282f32;
    border-radius: 6px;		
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
    box-shadow: 0px -9px 10px -5px #282f32 inset;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    position: absolute;
    right: 12px;
    top: 15px;
    z-index: 9999;
	display:none;
}
.buttonicon {
    display:none;
}
.tablebtn.Tablet .buttonicon.open {
	font-size:35px ;
	right:37px ;
	bottom:12px ;
}
_:default:not(:root:root), .tablebtn.Tablet .buttonicon.open{
	font-size:31px !important;
	right:36px !important;
	bottom:8px !important;
}
.buttonicon.open {
    background: #282f32;
    border: 0px solid #282f32;
    border-radius: 6px;		
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
    box-shadow: 0px -9px 10px -5px #282f32 inset;
    color: #ffffff;
    cursor: pointer;
	font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    position: absolute;
    right: 37px;
    bottom: 0px;
    z-index: 9999;
	height:0;
	display:block;
}
.tablebtn.Tablet .survey {
	font-size:23px ;
	right:14px ;
	bottom:-1px ;
}
_:default:not(:root:root), .tablebtn.Tablet .survey{
	font-size:23px !important;
	right:14px !important;
	bottom:-1px !important;
}
.tablebtn .survey {
    background: #282f32;
    border-radius: 6px;
    bottom: -3px;
    box-shadow: 0 -9px 10px -5px #282f32 inset;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 0;
    padding: 0;
    position: absolute;
    right: 18px;
    z-index: 9999;
}
.ChatUI .transcript .survey::before {
    display: none !important;
}
.ChatUI .transcript .survey:after {
    display: none !important;
}
.ChatUI .transcript .survey .name2 {
    display: none !important;
}
.ChatUI .you.survey {
    display: none !important;
}
.Divimage.centChat {
	margin: 25% 0 !important;
}
.DivImage.survey {
    display: none !important;
}
/* .Divimage.surveyMarker { */
    /* margin: 8px 0px 0px 0px !important; */
/* } */
.ChatUI .transcript .survey {
	padding:0px 0px 0px 5px !important;
    background: none !important;
    border:none !important;
	margin: 1px 0px 2px 15px !important;
	font-size:13px !important;	
}
.survey .botDiv {
    background: none;
	text-align: left;
}
.botDiv .suveRadio{
    margin: 10px 0px 10px 5px;
	padding-left: 5px;
}
.botDiv .surveLbl {
    float: none;
	font-style: italic;
     margin: 7px 0 3px 10px;
    position: absolute;
	font-size: 13px;
	cursor:pointer;
}
.ChatUI .close:hover {
    opacity: 0px.8;
}
.ChatUI .title {
    color: #f57f1d;
    display: none;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px 5px;
    text-align: left;
}
.ChatUI .headerdiv {
    overflow: auto;
    width: 100%;
	display:none;
}
.ChatUI .boxChatSample {
    display: block;
    /* height: 385px; */
	/* height:63%;  */
	/* height:278px !important;  */
	/* height:72%;  */
    overflow: hidden;
    /* width: 95%; */
	background: #FFFFFF;
}
.ChatUI .boxChatSample.full {
	height:85% !important;	
}
.ChatUI .boxChatSample.fullSave {
	/* height:69% !important;	 */
}
.ChatUI .validationError {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 0px 0px;		
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
    display: none;
    font-family: Verdana;
    padding: 5px;
}
.ChatUI .validationError p {
    overflow-wrap: break-word;
    padding: 5px 10px;
}
.ChatUI .transcript * {
    touch-action: none;
}
.ChatUI .transcript {
    border: 0px solid #E6E9EE;
    border-radius: 5px 5px 0px 0px;	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
    display: block;
    padding: 15px 3px 10px 3px;
	width : 100%;
}
.ChatUI .transcript p.system .name {
    display: none;
}
.ChatUI .transcript p.system.bubble .name {
    display: none;
}
.ChatUI .transcript .you .name {
    background: none;
    border: 0px solid #f3f2f0;
    border-radius: 0px;	
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
    color: #656563;
    display: none;
    float: left;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 13px;
    font-style: italic;
    margin: 0px 4px 0px 0px;
    padding: 0px;
}
.ChatUI .transcript .them .name {
    background: #f3f2f0  ;
    border-radius: 0px;
    color: #656563;
    display: none;
    float: left;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 13px;
    font-style: italic;
    margin: 0px 4px 0px 0px;
    padding: 0px;
}
.ChatUI .transcript p {
    /*Non standard for webkit*/
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
	overflow-wrap: break-word;
    padding: 5px 10px;
}
.ChatUI .transcript b{
    font-size: 13px;
    line-height: 1.15; 
}
.ChatUI .transcript .them .name2 {
    background: none;
    border: 0px solid #f3f2f0;
    border-radius: 0px;	
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
    bottom: -9px;
    color: #333;
    display: block;
/*    float: right;  */
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 12px;
    font-style: italic;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    position: absolute;
    left: 5px;
}
.ChatUI .transcript .you .name2 {
    background: none;
    border: 0px solid #f3f2f0;
    border-radius: 0px;	
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
    bottom: 1px;
    color: #333;
    display: block;
/*    float: right;  */
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 12px;
    font-style: italic;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    position: initial;
    right: 3px;
}
.ChatUI .isTyping {
    background: #f48133;
    border: 0px solid #f48133;
    border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
    bottom: 0px;
    color: #ffffff;
    display: none;
    float: left;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    height: 15px;
    margin: 0px 1%;
    padding: 0px;
    position: fixed;
    text-align: left;
	padding-left:10px;
	position:fixed;
    width: 380px;
}
.popup .input {
    width: 98% !important;
}
.boxChatSample.boxChatSamplePopup {
    height: 84%;
}
.ChatUI .input {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #005980;
	border-left: none;
    border-bottom: none;
    border-right: none ;
    border-radius: 0;
    bottom: 10px;
    color: #979797;
    display: block;
    float: left;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 16px;
    font-style: italic;
    height: auto;
    margin: 0;
    min-height: 23px;
    overflow: hidden;
    /* padding: 25px 0 20px 10px; */
    padding: 5px 80px 0px 10px;
    resize: none;
    text-align: left;
    width: 100%;
	line-height:17px;
	outline:none;
}
.ChatUI .input.disabled {
    opacity: 0.5;
}
.ChatUI.popup .input-container{
	height:150px;
}
.flyout-bottom-right .input-container {
    height: 50px;
}
.ChatUI .input-container {
    display: block;
	margin: 0px;
    position: absolute;
    width: 100%;
	bottom:0px;
    background:#fff;
    z-index: 1;
}
.input-container.closeDiv {
    border-top: 3px solid #005980;
}
.input-container .sendSave {
    background: #005980;
    color: #fff;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 33px;
    margin: 2% auto;
    width: 33%;
	border: 0px solid #006b9a;
	border-left:none;
	border-right:none;
	border-top:none;
	cursor: pointer;
}
.ChatUI .input-container  .sendSave:hover {
	background:#005980;
	border-color:#00405c;
}
.input-container .sendSaveLeft {
    background: #005980;
    color: #fff;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 33px;
    width: 33%;
	border: 0px solid #006b9a;
	border-left:none;
	border-right:none;
	border-top:none;
	cursor: pointer;
	height: 33px;
    left: 42px;
    margin: 2px 5px 0px 10px;
    position: absolute;
    top: 5px;
    width: 120px;
}
.ChatUI .input-container .sendSaveLeft:hover {
	background:#005980;
	border-color:#00405c;
}
.input-container .closeChatBot {
    background: #005980;
    color: #fff;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 33px;
    margin: 2px 10px 0px 5px;
	border: 0px solid #006b9a;
	border-left:none;
	border-right:none;
	border-top:none;
	cursor: pointer;
	width:120px;
	top:5px;
	right:42px;
	position:absolute;
}
.ChatUI .input-container .closeChatBot:hover {
	background:#005980;
	border-color:#00405c;
}
.ChatUI.popup .input-container {
    height: 92px;
}
.ChatUI .input-container .opac {
    opacity: 0.2;
	cursor: default !important;
}
.ChatUI .input-container  .send:hover {
	background:#005980;
	border-color:#00405c;
}
.ChatUI .input-container .send {
    background: #005980;
    border: 0px solid #006b9a;
	border-left:none;
	border-right:none;
	border-top:none;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 0;
    bottom: 4px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
    font-style: normal;
    height: 37px;
    margin: 0 1px 0 6px;
    /* padding: 5px; */
    position: absolute;
    right: 10px;
    width: 60px;
}
.ChatUI .input-container .sendSurvey:hover {
	background:#005980;
	border-color:#00405c;
}
.ChatUI .input-container .sendSurvey {
	display:none;
    background: #005980;
    border: 0px solid #006b9a;
	border-left:none;
	border-right:none;
	border-top:none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 0;
    bottom: 4px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 37px;
    margin: 0 1px 0 6px;
    /* padding: 5px; */
    position: absolute;
    right: 10px;
    width: 60px;
}
.ChatUI .form {
    background: #E6E9EE;
    border: 1px solid #E6E9EE;
    border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
    height: 0px;
    overflow: hidden;
    padding: 5px;
	height:75%;
	display:none;
}
.ChatUI .advert_DIV.Tablet .advert_P a{
	text-decoration: underline !important;
}
.ChatUI .advert_DIV.Mobile .advert_P a{
	text-decoration: underline !important;
}
.ChatUI .advert_P a:link{
	color: #007db3 !important;
	font-size: 12px  !important;
	font-weight: bold !important;
	text-decoration: none ;
	box-sizing: border-box;
	font-family: "Titillium Web",Helvetica,Arial,sans-serif;
	text-align: justify;
	line-height: inherit;
}
.ChatUI .advert_P a:visited{
	color: #007db3 !important;
	font-size: 12px  !important;
	font-weight: bold !important;
	text-decoration: none ;
	box-sizing: border-box;
	font-family: "Titillium Web",Helvetica,Arial,sans-serif;
	text-align: justify;
	line-height: inherit;
}
.ChatUI .advert_P a:active{
	color: #007db3 !important;
	font-size: 12px  !important;
	font-weight: bold !important;
	text-decoration: none ;
	box-sizing: border-box;
	font-family: "Titillium Web",Helvetica,Arial,sans-serif;
	text-align: justify;
	line-height: inherit;
}
.ChatUI .advert_P a:hover{
	color: #007db3 !important;
	font-size: 12px  !important;
	font-weight: bold !important;
	text-decoration: underline !important;
	box-sizing: border-box;
	font-family: "Titillium Web",Helvetica,Arial,sans-serif;
	text-align: justify;
	line-height: inherit;
}
.ChatUI .advert_P {
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 12px;
	color:#49535d;
	line-height:1.1;
	text-align: left;
	padding: 12px 9px 5px 9px;
}
.ChatUI .advert_M {
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 12px;
	color:#49535d;
	line-height:1.1;
	text-align: left;
	padding: 12px 9px 5px 9px;
}
.ChatUI .advert_error {
	color: red;
	font-size: 12px;
	font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
	font-weight: 700;
	margin-left: 10px;
}
.ChatUI .advert_l {
	font-size: 12px;
	font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-weight: 700;
    line-height: 17px;
    margin: 1px 0 0 7px;
    position: relative;
	bottom:1px;
}
_:default:not(:root:root), .ChatUI .advert_l{
    line-height: 1 ;
	bottom:2px;
}
/*.ChatUI .advert_C {
	border-right: #85a3bd 1px solid;
    border-top: #85a3bd 1px solid;
    border-left: #85a3bd 1px solid;
    border-bottom: #85a3bd 1px solid;
	outline: #007db3 0.2px solid;
	margin-left: 10px;
	box-shadow: 0px 0px 8px 1px #007db3;
}*/
.ChatUI .advert_CF{
	 -webkit-box-shadow: 0px 0px 8px 1px #007db3;
	 -webkit-appearance:none;
	 -moz-appearance: none ;
	 -ms-appearance: none ; 
     -o-appearance: none;
     appearance: none ;
	 height:13px;
	 width:13px;
	 cursor:pointer;
	 position:relative;
	 -webkit-transition: .15s;
	 border-radius:0px;
	 background-color:#ffffffff;
	 margin-left: 10px;
	 box-shadow: 0px 0px 8px 1px #007db3;
	border: 1px solid #007db3;
	    left: 0;
    top: 1px;
    position: relative;
	font-size:13px;
}
.advert_CF:before {
    bottom: -2px;
    left: -1px;
    position: absolute;
}
.ChatUI .advert_C{
-webkit-box-shadow: 0px 0px 8px 1px #007db3;
	 -webkit-appearance:none;
	 -moz-appearance: none ;
	 -ms-appearance: none ; 
     -o-appearance: none;
     appearance: none ;

	 height:12px;
	 width:12px;
	 cursor:pointer;
	 position:relative;
	 -webkit-transition: .15s;
	 border-radius:0px;
	 background-color:#ffffffff;
	 margin-left: 10px;
	 box-shadow: 0px 0px 8px 1px #007db3;
	background:rgba(255,255,255,0.3);
	border: 1px solid #007db3;
outline: 1px solid #007db3;
    outline-offset: -1px;
	display:none;
}
.ChatUI .advert_C::-ms-check {
	 border: 1px solid #007db3;
}
.ChatUI .advert_C:checked {
	 background-color:#f5f5f0;
}
.ChatUI .advert_C:before{
	 position:absolute;
	 top: -1.5px;
	 left: 0px;
	 width:100%;
	 height:auto;
	 line-height:1;
	 text-align:left;
	 color:#4a4646;
	 content: '';
	 box-sizing:content-box;
	}
.ChatUI .advert_C:checked:before {
	 content: '\2713' ;
	 font-size: 14px;
	 position:absolute ;
	 top: -1.5px ;
	 left: 0px ;
	 width:100% ;
	 height:auto;
	 line-height:1;
	 text-align:left;
	 box-sizing:content-box ;
	}
.ChatUI .advert_C:hover:before {
	 background:rgba(255,255,255,0.3);
	}
/* .advert_CI::before { */
    /* left: 0; */
    /* position: absolute; */
    /* top: -1px; */
/* } */
	/* .ChatUI .advert_CI{ */
/* -webkit-box-shadow: 0px 0px 8px 1px #007db3; */
	 /* height:12px; */
	 /* width:12px; */
	 /* cursor:pointer; */
	 /* position:relative; */
	 /* -webkit-transition: .15s; */
	 /* margin-left: 10px; */
	 /* box-shadow: 0px 0px 8px 1px #007db3; */
	/* background:rgba(255,255,255,0.3); */
	 /* color:#007db3; */
/* } */
.ChatUI .advert_CI{
	 -webkit-box-shadow: 0px 0px 8px 1px #007db3;
	 -webkit-appearance:none;
	 -moz-appearance: none ;
	 -ms-appearance: none ; 
     -o-appearance: none;
     appearance: none ;
	 height:13px;
	 width:13px;
	 cursor:pointer;
	 position:relative;
	 -webkit-transition: .15s;
	 border-radius:0px;
	 background-color:#ffffffff;
	 margin-left: 10px;
	 box-shadow: 0px 0px 8px 1px #007db3;
	border: 1px solid #007db3;
	    left: 0;
    top: 1px;
    position: relative;
	font-size:13px;
	color:transparent;
}
.advert_CI:before {
    bottom: -2px;
    left: -1px;
    position: absolute;
}
.ChatUI .advert_DIV {
	border: 3px solid #f5f5ef;
    border-left: none;
    border-top: none;
    border-right: none ;
	border-bottom: 1px solid #007db3;
    padding: 5px;
	background:#F5F5F0;
}
.formLabel{
    color: #898989;
    display: block;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-top: 8px;
    text-align: left;
}
.ChatUI .form label span {
    display: inline-block;
    padding-right: 5px;
    text-align: right;
}
.ChatUI .form label input {
    border: 1px solid #E6E9EE;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    box-shadow: 3px 5px 16px -6px #E6E9EE;
    color: #111;
    display: inline-block;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 27px;
    margin-right: 6px;
    padding-left: 8px;
    width: 100%;
}
.ChatUI .form label input.error {
    border-color: red;
}
.ChatUI .form .submit {
    background: #f48133;
    border: 1px solid #f48133;
    border-radius: 5px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    height: 30px;
    margin-top: 11px;
    width: 100%;
}
.ChatUI .end {
    cursor: pointer;
    height: 20px;
    opacity: 0.3;
    position: absolute;
    width: 20px;
}
.ChatUI .end:hover {
    opacity: 1;
}
.settings-group {
    display: none;
}
.ChatUI .buttonFile {
    background: #f48133 ;
    border: 0px solid #f48133;
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    cursor: pointer;
    /* float: left; */
    height: 45px;
    margin: 0px 1px 0px 5px;
    padding: 5px;
    width: 35px;
	display: none;
}
.ChatUI .spilla {
    height: 24px;
    width: 24px;
}
.framespilla {
    border: medium none;
    height: 115px;
    width: 100%;
}
.bubble {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
/* .you::after { */
    /* border-color: transparent #f3f2f0; */
    /* border-style: solid; */
    /* border-width: 10px 0px 10px 10px; */
    /* content: ""; */
    /* display: block; */
    /* position: absolute; */
    /* right: -10px; */
    /* top: 6px; */
    /* width: 0px; */
    /* z-index: 1; */
/* } */
/* .them::after { */
    /* border-color: transparent #f3f2f0; */
    /* border-style: solid; */
    /* border-width: 10px 10px 10px 0px; */
    /* content: ""; */
    /* display: block; */
    /* left: -10px; */
    /* position: absolute; */
    /* top: 6px; */
    /* width: 0px; */
    /* z-index: 1; */
/* } */
.ChatUI .transcript.Tablet .them .linkRich:link {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript.Tablet .them .linkRich:visited {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript.Tablet .them .linkRich:active {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript.Tablet .them .linkRich:hover {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript.Tablet .them a:link {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript.Tablet .them a:visited {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript.Tablet .them a:active {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript.Tablet .them a:hover {
    color: #007DB3 !important;
    font-size: 13px !important;
       font-weight: bold !important;
       text-decoration: underline !important;
       line-height: 1.15 !important;
}
.ChatUI .transcript .them .linkRich:link {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them .linkRich:visited {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them .linkRich:active {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them .linkRich:hover {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: underline !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them a:link {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them a:visited {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them a:active {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them a:hover {
    color: #007DB3 !important;
    font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: underline !important;
	line-height: 1.15 !important;
}
.ChatUI .transcript .them {
    position: relative;
	/* width: 305px; */
	/* height: 90px; */
	/* padding: 0px; */
	background: #FFFFFF;
	/* -webkit-border-radius: 10px; */
	/* -moz-border-radius: 10px; */
	/* border-radius: 10px; */
	border: #005980 solid 0px;
    clear: both;
    color: #373735;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 13px;
	font-style: italic;
    margin: 1px 10px 2px 15px;
    min-height: 32px;
    padding: 5px 10px 10px 5px;
    text-align: left;
    width: 77%;
	line-height: 1.15;
}
.ChatUI .transcript .them:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 4px 5px 0;
border-color: transparent #FDFCFC;
display: none;
width: 0;
z-index: 1;
margin-top: -5px;
left: -4px;
top: 20px;
}

.ChatUI .transcript .them:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 6px 5px 5px 0;
border-color: transparent #005980;
display: none;
width: 0;
z-index: 0;
margin-top: -6px;
left: -6px;
top: 20px;
}
.ChatUI .transcript .you:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 0 5px 5px;
border-color: transparent #fdfcfc;
display: none;
width: 0;
z-index: 1;
margin-top: -5px;
right: -4px;
top: 20px;
}

.ChatUI .transcript .you:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 6px 0 6px 6px;
border-color: transparent #005980;
display: none;
width: 0;
z-index: 0;
margin-top: -6px;
right: -6px;
top: 20px;
}
.ChatUI .transcript .you {
	position: relative;
	background:#FFFFFF;
	/* -webkit-border-radius: 10px; */
	/* -moz-border-radius: 10px; */
	/* border-radius: 10px; */
	border: #8CA9C3 solid 0px;
    clear: both;
    color: #373735;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 13px;
    margin: 1px 10px 2px 0px;
    min-height: 32px;
    padding: 5px 10px 13px 5px;
    text-align: right;
    width: 77%;
	line-height: 1.15;
}
.ChatUI .transcript p.system {
    background: #F3F2F0 ;
    border: 2px solid #F3F2F0;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    clear: both;
    color: #222222;
    float: inherit;
    font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
    font-size: 13px;
    margin: 7px 11px 8px;
    padding: 5px 10px;
    text-align: center;
}
.ChatUI .transcript .Divimage {
    margin: 0px;
    overflow: hidden;
    padding: 5px 10px;
}
.divcontainer{
	display:block;
}
.divcontainer img {
    cursor: pointer;
}
.divcontainer * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.divcontainer *:before,
.divcontainer *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.iconimgOper {
    height: 38px;
    width: 38px;
}
.iconimgUser {
    width: 38px;
    height:38px;
}
.imgnewicon {
    height: 70px !important;
    width: 70px !important;
}
.bubblepresent {
	z-index: 100;
	position: fixed;
	bottom: 80px;
	/* right: calc(50% - 550px); */
	margin: 0;
	padding: 0px 17px 7px;
	color: #000;
	white-space: nowrap;
	background: #FFF;
	-webkit-border-radius: 11px 11px 0;
	border-radius: 9px 18px 0;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	cursor: default;
	right: 82px;
	font-size: small;
	font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
	border: 2px solid #005980;
	text-align:center;
	  line-height:14px;
  padding:2px 14px 3px;
  display:none;
}

.pulseElem img {
    cursor: pointer;
}

.pulseElem {
  position: absolute;
  bottom: 10px;
  right: 15px;
  border: 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 9998;
 box-shadow: none;
  background: transparent;
  border-top:3px solid white;
}
.pulseElem.stopAnimation {
  animation: unset !important;
  -webkit-animation: unset !important;
}
.pulseElem:active {
  animation: pulseFab 2s ease-in-out;
  -webkit-animation: pulseFab 2s ease-in-out;
}
.pulseElem.active_loop {
  animation: pulseFab 3s infinite;
  -webkit-animation: pulseFab 3s infinite;
}
.pulseElem.active_loop {
  animation: pulseFab 3s infinite;
  -webkit-animation: pulseFab 3s infinite;
}
.pulseElem {
  /*! animation: pulseFab 2s ease-in-out; */
}
.pulseElem.active {
  animation: pulseFab 2s ease-in-out;
  -webkit-animation: pulseFab 2s ease-in-out;
}

@-webkit-keyframes pulseFab {
0% {
  -webkit-box-shadow:0 0 0 0 rgba(0, 89, 128,1);
  box-shadow:0 0 0 0 rgba(0, 89, 128,1);
}
25% {
  -webkit-box-shadow:0 0 0 10px rgba(0, 89, 128,0);
  box-shadow:0 0 0 10px rgba(0, 89, 128,0);
}
26% {
  -webkit-box-shadow:0 0 0 0 rgba(0, 89, 128,0);
  box-shadow:0 0 0 0 rgba(0, 89, 128,0);
}
27% {
  -webkit-box-shadow:0 0 0 0 rgba(0, 89, 128,1);
  box-shadow:0 0 0 0 rgba(0, 89, 128,1);
}
70% {
  -webkit-box-shadow:0 0 0 20px rgba(0, 89, 128,0);
  box-shadow:0 0 0 20px rgba(0, 89, 128,0);
}
100% {
  -webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);
  box-shadow:0 0 0 0 rgba(0,0,0,0);
}
}
@keyframes pulseFab {
0% {
  -webkit-box-shadow:0 0 0 0 rgba(0, 89, 128,1);
  box-shadow:0 0 0 0 rgba(0, 89, 128,1);
}
25% {
  -webkit-box-shadow:0 0 0 10px rgba(0, 89, 128,0);
  box-shadow:0 0 0 10px rgba(0, 89, 128,0);
}
26% {
  -webkit-box-shadow:0 0 0 0 rgba(0, 89, 128,0);
  box-shadow:0 0 0 0 rgba(0, 89, 128,0);
}
27% {
  -webkit-box-shadow:0 0 0 0 rgba(0, 89, 128,1);
  box-shadow:0 0 0 0 rgba(0, 89, 128,1);
}
70% {
  -webkit-box-shadow:0 0 0 20px rgba(0, 89, 128,0);
  box-shadow:0 0 0 20px rgba(0, 89, 128,0);
}
100% {
  -webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);
  box-shadow:0 0 0 0 rgba(0,0,0,0);
}
}



/* .bubblepresent { */
    /* background: #0199d9 ; */
    /* border: medium none; */
    /* border-radius: 5px;	 */
	/* -moz-border-radius: 5px; */
	/* -webkit-border-radius: 5px ; */
    /* bottom: 4px; */
    /* color: white; */
    /* height: 20px; */
    /* padding: 10px; */
    /* position: fixed; */
    /* right: 84px; */
    /* text-align: center; */
    /* width: 200px; */
    /* z-index: 2; */
/* } */

/* .bubblepresent:hover { */
    /* background: #0199d9 ; */
    /* border: medium none; */
    /* border-radius: 5px;	 */
	/* -moz-border-radius: 5px; */
	/* -webkit-border-radius: 5px ; */
    /* bottom: 4px; */
    /* color: white; */
    /* height: 20px; */
    /* padding: 10px; */
    /* position: fixed; */
    /* right: 84px; */
    /* text-align: center; */
    /* width: 200px; */
    /* z-index: 2; */
/* } */

/* .bubblepresent:before { */
    /* background: #0199d9 ; */
    /* border: medium none; */
    /* border-radius: 0px 0px 20px; */
	/* -moz-border-radius: 0px 0px 20px; */
	/* -webkit-border-radius: 0px 0px 20px; */
    /* bottom: 85px; */
    /* content: ""; */
    /* height: 10px; */
    /* position: absolute; */
    /* right: -10px; */
    /* top: 0px; */
    /* width: 18px; */
    /* z-index: 1; */
/* } */
.flyout-bottom-right .nicescroll-cursors {
	border: 1px solid #005980 !important;
}

.ChatUI .spinnerClassImg{
	width:25%;
	height:25%;
	margin:0 38%;
}
.buttoniconFa.open {
    background: #282f32;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 22px;
    height: 0;
    padding: 0;
    position: absolute;
    right: 29px;
    top: 8px;
    z-index: 9999;
}
.tablebtn .surveyFa {
    background: #282f32;
    bottom: 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 24px;
    height: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    z-index: 9999;
}

.tablebtn .copyClipBoardIconFa {
    color: white;
    cursor: pointer;
    font-size: 15px;
    height: 19px;
    position: absolute;
    right: 54px;
    top: 10px;
    width: 19px;
    z-index: 99999;
}
_:default:not(:root:root), .advert_C:checked:before{
	font-size:12px !important;
	top:-0.5px !important;
	left:-1px !important;
}
_:default:not(:root:root), .botDiv .surveLbl {
	margin:6px 0px 10px 5px !important;
	position absolute;
}
/* @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)  */
/* { 
	input[type="checkbox"] {
	 -webkit-appearance:none;
	 height:12px;
	 width:12px;
	 cursor:pointer;
	 position:relative;
	 -webkit-transition: .15s;
	 border-radius:0px;
	 background-color:#ffffffff;
	}

	input[type="checkbox"]:checked {
	 background-color:#f5f5f0;
	}

	input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
	 position:absolute;
	 top: -2px;
	 left: 0px;
	 width:100%;
	 height:auto;
	 line-height:1;
	 text-align:left;
	 color:#4a4646;
	 content: '';
	 box-sizing:content-box;
	}

	input[type="checkbox"]:checked:before {
	 content: '\2714';
	 font-size: 14px;
	}

	input[type="checkbox"]:hover:before {
	 background:rgba(255,255,255,0.3);
	}
 } */
 

.Divimage .bubbleClassImg {
    bottom: -5px;
    height: 20px;
    position: relative;
    width: 20px;
}
 .Divimage.bubbleCheat {
    height: 55px;
}

/* OVERLAY */

.modalEabOverlay{
background-color: #000;
 z-index: 1030;
transition: opacity 0.15s linear 0s;
opacity: 0.5;
}

	
.modalEab{
	overflow-x: hidden;
    overflow-y: auto;
	position: fixed;
    top: 50% !important;
    transform: translateY(-50%);
	z-index: 1040;
	opacity:1;
	transition: opacity 0.15s linear 0s;
	padding: 0 !important;
    text-align: center;
}
	
	
	
.centerGeneral{
	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; 
	}
	
	
.div_modal_dialogEab {
    transform: translate(0px, 0px);
    transition: transform 0.3s ease-out 0s;
    text-align: left;
    vertical-align: middle;
    margin: 30px auto;
    width: 100%;
    position: relative;
}

.modal_content_large{
	margin-left: auto;
    margin-right: auto;
	max-width:650px;
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
	}
	
.modal_header {
    border-bottom: 1px solid #e5e5e5;
    border-left: 8px solid #005980;
    padding: 10px;
	text-align: left;
}
.modal_header .close{
    background: transparent;
    border: none;
    float: right;
    font-size: 16px;
	bottom: 3px;
    position: relative;
}
.modal_title {
	color: #005980;
    line-height: 1.2;
    margin: 0;
	font-size: 20px;
	font-weight: 700;
	}
	
.modalEab .modal_body {
    color: #005980;
    font-weight: 600;
    height: 70%;
    padding: 15px;
    position: relative;
    text-align: left;
	font-size: 16px;
    line-height:	22.4px;
}
.modalEab * {
font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
}

.modal_body i {
    font-size: 16px;
	font-weight: 600;
    margin: 0 6px 0 3px;
}
.inset img {
position:static;
}

.DivImage.surverySec {
    display: none !important;
}
.Divimage.surverySec {
    margin: 8px 0px 0px 0px !important;
}
.survey .surverySec .botDiv {
    background: none;
	text-align: left;
}
.botDiv .surverySec .suveRadio2{
    margin: 5px 0px 5px 20px;
    /* margin: 10px 0px 10px 20px; */
	padding-left: 5px;
}
.botDiv .surverySec .surveLbl2 {
    float: none;
	font-style: italic;
     margin: 3px 0 3px 6px;
    position: absolute;
	font-size: 13px;
	cursor:pointer;
}
.surveyMarker .surverySec {
    text-align: left !important;
	/* margin: 0px; */
	margin: 5px 0px 2px 7px;
    position: relative;
	z-index: 20;
}
.ChatUI .transcript .textSecP  {
    background-color: #ffffff;
    clear: both;
    float: inherit;
    text-align: left;
    width: 100%;
	padding:0px  !important;
    background: none !important;
    border:none !important;
	margin: 0px 0px 0px 18px !important;
	/* margin: 7px 0 2px 0px !important; */
	font-size: 13px !important;	
	font-family: "Titillium Web",​Helvetica,​Arial,​sans-serif;
	/* padding: 0; */
}

.ChatUI .transcript .surveryRow{
	    margin: 0px 0px 8px 0px;
}

.ChatUI .transcript .hideFu {
	display:none !important;
}

.ChatUI br {
    line-height: 0.1;
}
.ChatUI hr.doubleBr {
    height: 15px;
    /*line-height: 20px;
    vertical-align:top;*/
	background: white;
    border: none;
}