<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Digital Platform</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="h-100 w-100">

  <div class="container">
        <div class="row">
        <div class="col"><h2>Digital Platform</h2></div>
        <div class="col"><h2>Welcome <%= user.name %></h2></div>
        <div class="col">
            <form>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="bi bi-search fa-3x"></i></button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img class="card-img-top" src="https://www.inps.it/img/logocard.jpg" alt="INPS service">
        </div>
        <div class="col">
            <row><h4>INPS</h4></row>
            <row><a href="https://www.inps.it/">https://www.inps.it/</a></row>
            <br>
            <row><text>L'istituto nazionale della previdenza sociale (INPS) è il principale ente previdenziale del sistema pensionistico pubblico italiano.</text></row>
        </div>
        <div class="col">
            <a href='https://3.72.211.246:8081/login' class="btn btn-primary">Entra nell'area privata</a> 
        </div>
        </div>
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>